<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundColor</key>
	<dict>
		<key>alpha</key>
		<string>ff</string>
		<key>blue</key>
		<string>ff</string>
		<key>green</key>
		<string>ff</string>
		<key>red</key>
		<string>ff</string>
	</dict>
	<key>colourForAttributes</key>
	<dict>
		<key>alpha</key>
		<string>ff</string>
		<key>blue</key>
		<string>33</string>
		<key>green</key>
		<string>7f</string>
		<key>red</key>
		<string>7f</string>
	</dict>
	<key>colourForAutocomplete</key>
	<dict>
		<key>alpha</key>
		<string>ff</string>
		<key>blue</key>
		<string>1</string>
		<key>green</key>
		<string>68</string>
		<key>red</key>
		<string>d6</string>
	</dict>
	<key>colourForCommands</key>
	<dict>
		<key>alpha</key>
		<string>ff</string>
		<key>blue</key>
		<string>da</string>
		<key>green</key>
		<string>0</string>
		<key>red</key>
		<string>7</string>
	</dict>
	<key>colourForComments</key>
	<dict>
		<key>alpha</key>
		<string>ff</string>
		<key>blue</key>
		<string>0</string>
		<key>green</key>
		<string>72</string>
		<key>red</key>
		<string>0</string>
	</dict>
	<key>colourForInstructions</key>
	<dict>
		<key>alpha</key>
		<string>ff</string>
		<key>blue</key>
		<string>a4</string>
		<key>green</key>
		<string>0</string>
		<key>red</key>
		<string>bb</string>
	</dict>
	<key>colourForKeywords</key>
	<dict>
		<key>alpha</key>
		<string>ff</string>
		<key>blue</key>
		<string>a4</string>
		<key>green</key>
		<string>0</string>
		<key>red</key>
		<string>bb</string>
	</dict>
	<key>colourForNumbers</key>
	<dict>
		<key>alpha</key>
		<string>ff</string>
		<key>blue</key>
		<string>da</string>
		<key>green</key>
		<string>0</string>
		<key>red</key>
		<string>7</string>
	</dict>
	<key>colourForStrings</key>
	<dict>
		<key>alpha</key>
		<string>ff</string>
		<key>blue</key>
		<string>27</string>
		<key>green</key>
		<string>12</string>
		<key>red</key>
		<string>cd</string>
	</dict>
	<key>colourForVariables</key>
	<dict>
		<key>alpha</key>
		<string>ff</string>
		<key>blue</key>
		<string>bc</string>
		<key>green</key>
		<string>0</string>
		<key>red</key>
		<string>ba</string>
	</dict>
	<key>coloursAttributes</key>
	<integer>1</integer>
	<key>coloursAutocomplete</key>
	<integer>0</integer>
	<key>coloursCommands</key>
	<integer>1</integer>
	<key>coloursComments</key>
	<integer>1</integer>
	<key>coloursInstructions</key>
	<integer>1</integer>
	<key>coloursKeywords</key>
	<integer>1</integer>
	<key>coloursNumbers</key>
	<integer>1</integer>
	<key>coloursStrings</key>
	<integer>1</integer>
	<key>coloursVariables</key>
	<integer>1</integer>
	<key>currentLineHighlightColour</key>
	<dict>
		<key>alpha</key>
		<string>ff</string>
		<key>blue</key>
		<string>b5</string>
		<key>green</key>
		<string>f4</string>
		<key>red</key>
		<string>f4</string>
	</dict>
	<key>defaultSyntaxErrorHighlightingColour</key>
	<dict>
		<key>alpha</key>
		<string>ff</string>
		<key>blue</key>
		<string>b2</string>
		<key>green</key>
		<string>ff</string>
		<key>red</key>
		<string>ff</string>
	</dict>
	<key>displayName</key>
	<string>Classic Fragaria</string>
	<key>insertionPointColor</key>
	<dict>
		<key>alpha</key>
		<string>ff</string>
		<key>blue</key>
		<string>0</string>
		<key>green</key>
		<string>0</string>
		<key>red</key>
		<string>0</string>
	</dict>
	<key>textColor</key>
	<dict>
		<key>alpha</key>
		<string>ff</string>
		<key>blue</key>
		<string>0</string>
		<key>green</key>
		<string>0</string>
		<key>red</key>
		<string>0</string>
	</dict>
	<key>textInvisibleCharactersColour</key>
	<dict>
		<key>alpha</key>
		<string>ff</string>
		<key>blue</key>
		<string>0</string>
		<key>green</key>
		<string>0</string>
		<key>red</key>
		<string>0</string>
	</dict>
</dict>
</plist>
