<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmAAAAAYY=
	</data>
	<key>colourForAttributes</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmgwAAAD+DAAAAP4PNzEw+AYY=
	</data>
	<key>colourForAutocomplete</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmgz0KVz+DhevRPoOmm8Q7AYY=
	</data>
	<key>colourForCommands</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmg7bz/TwAg0jhWj8Bhg==
	</data>
	<key>colourForComments</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmg4OCgj6DzcxMP4OLioo+AYY=
	</data>
	<key>colourForInstructions</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmgwisPD8Ag8uhJT8Bhg==
	</data>
	<key>colourForKeywords</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmg9TTUz+DwcDAPYOVlBQ/AYY=
	</data>
	<key>colourForNumbers</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmg+/u7j6D29raPgEBhg==
	</data>
	<key>colourForStrings</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmAYOxsDA+g+HgYD4Bhg==
	</data>
	<key>colourForVariables</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmg0jhOj8Ag6RwPT8Bhg==
	</data>
	<key>coloursAttributes</key>
	<integer>1</integer>
	<key>coloursAutocomplete</key>
	<integer>0</integer>
	<key>coloursCommands</key>
	<integer>1</integer>
	<key>coloursComments</key>
	<integer>1</integer>
	<key>coloursInstructions</key>
	<integer>1</integer>
	<key>coloursKeywords</key>
	<integer>1</integer>
	<key>coloursNumbers</key>
	<integer>1</integer>
	<key>coloursStrings</key>
	<integer>1</integer>
	<key>coloursVariables</key>
	<integer>1</integer>
	<key>currentLineHighlightColour</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmAAAAAYY=
	</data>
	<key>defaultSyntaxErrorHighlightingColour</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmg83MzD6DzczMPoPNzMw+AYY=
	</data>
	<key>displayName</key>
	<string>Midnight</string>
	<key>insertionPointColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmAQEBAYY=
	</data>
	<key>textColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmAQEBAYY=
	</data>
	<key>textInvisibleCharactersColour</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmg+jnZz+D6OdnP4Po52c/AYY=
	</data>
</dict>
</plist>
